<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.zenolab124.monet.widget-updater</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Monet.app/Contents/MacOS/widget-updater</string>
	</array>
	<key>StartInterval</key>
	<integer>1800</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/monet-widget-updater.log</string>
</dict>
</plist>
